{% extends 'layout/base.login.html.twig' %}

{% block title %}Inscription Museo{% endblock %}

{% block body %}
    <h1>S'enrengistrer</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}
        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
