<div class="col-12 md-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>Nom</th>
            <th>Ajouté le </th>
            <th>Ajouté par </th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for monument in monuments %}
            {% if monument.isActive == false %}
                <tr>
                    <td>{{ monument.id }}</td>
                    <td>{{ monument.name }}</td>
                    <td>{{ monument.createdAt|date("d/m/Y") }}</td>
                    <td>username</td>
                    <td>
                        <a href="{{ path('dashboard.monument.accept', {id: monument.id})}}" class="btn btn-success"><i class="fas fa-check-circle"></i></a>
                        <a href="{{ path('dashboard.monument.decline', {id: monument.id})}}" class="btn btn-danger"><i class="far fa-times-circle"></i></a>
                    </td>
                </tr>
            {% elseif monument.isActive == null %}
                Aucun monument en attente
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>