{% for monument in monuments %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>Nom</th>
            {# <th>Description</th> #}
            <th>Adresse</th>
            <th>Ville</th>
            <th>Créer le</th>
            <th>Affiché</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Region</th>
            <th>Catégorie</th>
            <th>P.V</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ monument.id }}</td>
            <td>{{ monument.name }}</td>
            {# <td>{{ monument.description|slice(0, 50) }}</td> #}
            <td>{{ monument.address }}</td>
            <td>{{ monument.city }}</td>
            <td>{{ monument.createdAt|date("d/m/Y") }}</td>
            {% if monument.available == 1 %}
                <td><span class="badge badge-primary">AFFICHER</span></td>
            {% else %}
                <td><span class="badge badge-primary">NON AFFICHER</span></td>
            {% endif %}
            {# <td>{{ monument.available }}</td> #}
            {% if monument.latitude == null %}
                <td><span class="badge badge-warning">N/R.</span></td>
            {% else %}
                <td>{{ monument.latitude }}</td>
            {% endif %}
            {% if monument.longitude == null %}
                <td><span class="badge badge-warning">N/R.</span></td>
            {% else %}
                <td>{{ monument.longitude }}</td>
            {% endif %}
            {% if monument.region == null %}
                <td><span class="badge badge-warning">N/R.</span></td>
            {% else %}
                <td>{{ monument.region }}</td>
            {% endif %}
            {% if monument.category == null %}
                <td><span class="badge badge-warning">N/R.</span></td>
            {% else %}
                <td>{{ monument.category }}</td>
            {% endif %}
            {% if monument.target == null %}
                <td><span class="badge badge-warning">N/R.</span></td>
            {% else %}
                <td>{{ monument.target }}</td>
            {% endif %}
            <td>
                <a href="#" class="btn btn-primary"><i class="far fa-edit"></i></a>
                <a href="#" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
{% endfor %}