<div class="col-12 col-md-4 mt-4">
    <div class="card text-center animated fadeIn slow">
        <div class="card-body">
          <h1 class="card-title">Actuellement</h1>
          <h1 class="display-4"><span class="badge badge-success animated infinite pulse slow">{{ countMonuments }}</span></h1>
          <h1 class="card-title">Monuments</h1>
          <a href="{{ path('dashboard.monument.index') }}" class="btn btn-success">Acceder à la liste</a>
        </div>
    </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center animated fadeIn slow">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-primary animated infinite pulse">{{ countRegions }}</span></h1>
        <h1 class="card-title">Régions</h1>
        <a href="{{ path('dashboard.region.index') }}" class="btn btn-primary">Acceder à la liste</a>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center disabled">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-secondary">{{ countPeriods }}</span></h1>
        <h1 class="card-title">Périodes</h1>
        <a href="{{ path('dashboard.period.index') }}" class="btn btn-secondary disabled">Acceder à la liste</a>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center disabled">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-warning">{{ countTargets }}</span></h1>
        <h1 class="card-title">Publique visées</h1>
        <a href="#" class="btn btn-warning disabled">Acceder à la liste</a>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center disabled">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-info">{{ countUsers }}</span></h1>
        <h1 class="card-title">Utilisateurs inscrit</h1>
        <a href="#" class="btn btn-info disabled">Acceder à la liste</a>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center disabled">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-light">{{ countCategories }}</span></h1>
        <h1 class="card-title">Catégories</h1>
        <a href="#" class="btn btn-light disabled">Acceder à la liste</a>
      </div>
  </div>
</div>