<div class="col-12 col-md-12 mt-4">
  <div class="card text-center animated fadeIn slow">
      <div class="card-body">
        <h1 class="font-weight-bold">Données de Google Analytics</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At cumque ea ducimus possimus ullam perferendis quisquam suscipit consequatur ex doloribus distinctio dolore error unde libero, laboriosam facilis blanditiis incidunt obcaecati, voluptatem, ratione cum maiores illum! Iure ex aliquam in possimus magnam qui atque earum dolore veritatis quidem deleniti blanditiis amet praesentium, delectus quos quasi, ut nisi. Repudiandae laborum neque praesentium deleniti tempora voluptatibus porro, similique atque ut tenetur non eos autem dolore blanditiis, eius temporibus itaque quod soluta repellendus et! Ut, modi, beatae obcaecati debitis quaerat dolores nihil, inventore iste explicabo cumque eos assumenda magni voluptatibus incidunt ipsum quisquam id vel! Mollitia, eligendi minus. Dignissimos error perspiciatis ratione at recusandae minima, excepturi iusto dolores corrupti officia ullam. Nemo eligendi ea odio, commodi iusto officiis minima expedita natus, velit, sit animi est molestiae inventore voluptates porro hic eum dolor harum saepe libero! Nobis blanditiis, necessitatibus animi ullam praesentium fugiat consequuntur sint quod! Officiis numquam ea fuga quos a. Ut cupiditate necessitatibus libero. Aut, deleniti dolores ipsam voluptates odit culpa expedita? Omnis tempore consequatur magnam aut facilis iste inventore velit ea distinctio nesciunt minima mollitia illum ratione, sit numquam reiciendis delectus tempora officia voluptatem voluptates hic ipsa dolores recusandae? Accusamus, tempore incidunt!
        </p>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
    <div class="card text-center animated fadeIn slow">
        <div class="card-body">
          <h1 class="card-title">Actuellement</h1>
          <h1 class="display-4"><span class="badge badge-success animated infinite pulse slow">{{ countMonuments }}</span></h1>
          <h1 class="card-title">Monuments</h1>
          <a href="{{ path('dashboard.monument.index') }}" class="btn btn-success">Acceder à la liste</a>
        </div>
    </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center animated fadeIn slow">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-primary animated infinite pulse">{{ countRegions }}</span></h1>
        <h1 class="card-title">Régions</h1>
        <a href="{{ path('dashboard.region.index') }}" class="btn btn-primary">Acceder à la liste</a>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center animated fadeIn slow">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-secondary">{{ countPeriods }}</span></h1>
        <h1 class="card-title">Périodes</h1>
        <a href="{{ path('dashboard.period.index') }}" class="btn btn-secondary">Acceder à la liste</a>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center animated fadeIn slow">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-warning">{{ countTargets }}</span></h1>
        <h1 class="card-title">Publique visées</h1>
        <a href="{{ path('dashboard.target.index') }}" class="btn btn-warning ">Acceder à la liste</a>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center animated fadeIn slow">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-info">{{ countUsers }}</span></h1>
        <h1 class="card-title">Utilisateurs inscrit</h1>
        <a href="{{ path('dashboard.user.index') }}" class="btn btn-info">Acceder à la liste</a>
      </div>
  </div>
</div>
<div class="col-12 col-md-4 mt-4">
  <div class="card text-center animated fadeIn slow">
      <div class="card-body">
        <h1 class="card-title">Actuellement</h1>
        <h1 class="display-4"><span class="badge badge-light">{{ countCategories }}</span></h1>
        <h1 class="card-title">Catégories</h1>
        <a href="{{ path('dashboard.category.index') }}" class="btn btn-light">Acceder à la liste</a>
      </div>
  </div>
</div>