{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">
    <h1>Gestion des Articles</h1>
    {{ dump(articles) }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" >ID</th>
                <th scope="col" >Titre de l'article</th>
                <th scope="col" >Contenue de l'article</th>
                <th scope="col" >Date création</th>
                <th scope="col" >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}          
            <tr>
                <th scope="row" >{{ article.id }}</th>
                <td>{{ article.name }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt|date("d/m/Y") }}</td>
                <th>
                    <a href="{{ path('admin.blog.edit', {id: article.id}) }}" class="btn btn-secondary">Editer</a>
                    <a href="{{ path('admin.blog.delete', {id: article.id}) }}" class="btn btn-danger">Supprimer</a>
                    <a href="{{ path('blog.show', {slug: article.slug}) }}" class="btn btn-success">Voir l'article</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
