{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">

    {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Gestion des Articles</h1> 
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre de l'article</th>
                <th scope="col">Contenue de l'article</th>
                <th scope="col">Date création</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}          
            <tr>
                <th scope="row" >{{ article.id }}</th>
                <td>{{ article.name }}</td>
                <td>{{ article.content|slice(0, 150) }}...</td>
                {% if article.createdAt == null %}
                    <td>Aucune date trouvée</td>
                {% else %}
                    <td>{{ article.createdAt|date("d/m/Y") }}</td>                
                {% endif %}
                <th>
                    <div class="btn-group">
                        <a href="{{ path('admin.blog.edit', {id: article.id}) }}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                        <a href="{{ path('admin.blog.delete', {id: article.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        {% if article.slug == null %}
                            {# If slug is null dont display, display nothing #}
                        {% else %}
                            <a href="{#{ path('blog.show', {slug: article.slug}) }#}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                        {% endif %}
                    </div>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <span><a href="{{ path('admin.blog.new') }}" class="btn btn-primary">Ajouter un article</a></span>
</div>

{% endblock %}
