{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">
    {# <a href="{{ path('home') }}" class="btn btn-primary">Voir le site</a> #}
    <h1>Accueil Dashboard</h1>
    {# Block pour les monuments #}
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active">
            Gestions Monument
            <br>Actuellement <strong>{{ countMonuments }}</strong> Monuments en base
          </a>
          <a href="{{ path('admin.monument.index') }}" class="list-group-item list-group-item-action"><i class="fas fa-list-ul"></i> Voir la liste des monuments</a>
          <a href="{{ path('admin.monument.new') }}" class="list-group-item list-group-item-action"><i class="fas fa-arrow-circle-right"></i> Ajouter un monument</a>
          <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true "><i class="fas fa-archway"></i> Voir les monuments</a>
          <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true "><i class="fas fa-map-signs"></i> Acceder à la carte en tant qu'Admin</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Purger l'API [BLOG]</a>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active">
            Gestions Blog
            <br>Actuellement <strong>{{ countPosts }}</strong> Article sur le blog
          </a>
          <a href="{{ path('admin.blog.index') }}" class="list-group-item list-group-item-action"><i class="fas fa-list-ul"></i> Voir la liste des articles</a>
          <a href="{{ path('admin.blog.new') }}" class="list-group-item list-group-item-action"><i class="fas fa-arrow-circle-right"></i> Ajouter un article</a>
          <a href="{{ path('blog.index') }}" class="list-group-item list-group-item-action"><i class="fas fa-th"></i> Voir le blog</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Purger l'API [BLOG]</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}
