{% extends 'base.html.twig' %}

{% block title %}Monument index{% endblock %}

{% block body %}
    <h1>Monument index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Adress</th>
                <th>Description</th>
                <th>Thematiques</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for monument in monuments %}
            <tr>
                <td>{{ monument.id }}</td>
                <td>{{ monument.name }}</td>
                <td>{{ monument.city }}</td>
                <td>{{ monument.adress }}</td>
                <td>{{ monument.description }}</td>
                <td>{{ monument.thematiques }}</td>
                <td>{{ monument.likes }}</td>
                <td>{{ monument.dislikes }}</td>
                <td>{{ monument.createdAt ? monument.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ monument.updatedAt ? monument.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('monument_show', {'id': monument.id}) }}">show</a>
                    <a href="{{ path('monument_edit', {'id': monument.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('monument_new') }}">Create new</a>
{% endblock %}
