<nav class="sidebar">
    <ul class="sidebar-nav">
        <li class="logo">
            <a href="{{ path('dashboard.index') }}" class="sidebar-link">
                <i class="fas fa-angle-double-right"></i>
                <span class="link-text">Museo</span>
            </a>
        </li>
        {% if app.user %}
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <img src="{{ asset('assets/img/user.png') }}" alt="" class="img-circle">
                <span class="link-text">Bienvenue <strong>{{ app.user.username }}</strong></span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ path('app_logout') }}" class="sidebar-link">
                <i class="fas fa-sign-out-alt"></i>
                <span class="link-text"><strong>Deconnexion</strong></span>
            </a>
        </li>
        {% endif %}
        <li class="sidebar-item">
            <a href="{{ path('dashboard.index') }}" class="sidebar-link">
                <i class="fas fa-concierge-bell"></i>
                <span class="link-text">Accueil</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ path('dashboard.monument.index') }}" class="sidebar-link">
                <i class="fas fa-monument"></i>
                <span class="link-text">Monuments</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="fas fa-landmark"></i>
                <span class="link-text">Périodes</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ path('dashboard.region.index') }}" class="sidebar-link">
                <i class="fas fa-vihara"></i>
                <span class="link-text">Régions</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="fas fa-bullseye"></i>
                <span class="link-text">Publique visé</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ path('dashboard.user.index') }}" class="sidebar-link">
                <i class="fas fa-users-cog"></i>
                <span class="link-text">Utilisateurs</span>
            </a>
        </li>    
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="fas fa-cogs"></i>
                <span class="link-text">Parametres</span>
            </a>
        </li>                             
    </ul>
</nav>