<div class="col-12 md-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th>Nom d'utilisateur</th>
            <th>Adresse e-mail</th>
            <th>Prénom</th>
            <th>Nom de famille</th>
            <th>Créer le</th>
            <th>MAJ le</th>
            <th>Compte actif</th>
            <th>Rôles</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            {% if user.firstname == null %}
                <td><span class="badge badge-warning">N/R.</span></td>
            {% else %}
                <td><span class="badge badge-light">{{ user.firstname }}</span></td>
            {% endif %}
            {% if user.lastname == null %}
                <td><span class="badge badge-warning">N/R.</span></td>
            {% else %}
                <td><span class="badge badge-light">{{ user.lastname }}</span></td>
            {% endif %}
            <td>{{ user.createdAt|date("d/m/Y") }}</td>
            {% if user.updatedAt == null %}
                <td><span class="badge badge-info">Aucune MAJ</span></td>
            {% else %}
                <td>{{ user.updatedAt|date("d/m/Y") }}</td>
            {% endif %}
            {% if user.isActive == 1 %}
                <td><span class="badge badge-primary">Compte activé</span></td>
            {% else %}
                <td><span class="badge badge-danger">Compte non activé</span></td>
            {% endif %}
            <td>
                {% for role in user.roles %}
                    {% if role == "ROLE_USER_MUSEO" %}
                        <span class="badge badge-success">Utilisateur</span>
                    {% elseif role == "ROLE_MODERATOR_MUSEO" %}
                        <span class="badge badge-dark">Modérateur</span>
                    {% elseif role == "ROLE_ADMIN_MUSEO" %}
                        <span class="badge badge-warning">Administrateur</span>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('dashboard.user.edit', {id: user.id}) }}" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                <a href="{{ path('dashboard.user.delete', {id: user.id}) }}" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>                
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>